data/*
.gitignore
notebooks/Dude/__pycache__/__init__.cpython-39.pyc
src/dude_pkg/__pycache__/functions.cpython-39.pyc
src/dude_pkg/__pycache__/task1.cpython-39.pyc
src/__pycache__/task1.cpython-39.pyc
notebooks/Dude/__pycache__/foo_funcs.cpython-39.pyc
.gitignore
project_descriptions.docx
